
<h1> "Are you excited for your holiday?" <h1>

<form method="get" action="/not-excited">
  <button type="submit">mm, not really..</button>
</form>

<form method="get" action='/excited'>
  <button type="submit">Absolutely</button>
<form>
